.small {
  font-size: 1.1rem;
}

.normal {
  font-size: 1.7rem;
}

.large {
  font-size: 2.6rem;
}

.secondText{
  color: var(--color-on-surface-variant);
  font-size: 0.7rem;
}


.icon_bg {
  background-color: #2E3039;
  display: inline-flex;
  padding: 10px;
  border-radius: var(--radius-default);
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}

.text-container{
  margin-top: 20px;
}
