.p-selectbutton{
  display: flex;
  justify-content: space-between;
  gap: 8px;
  border: var(--border-input);
  // width: auto;
  padding: 3px;
  .p-togglebutton{
    background-color: var(--color-surface-container);
    border: none;
    color: #9B9FA9;
    font-size: small;
    font-weight: bold;
    border-radius: var(--radius-default) !important;
    width: 100%;
    &:hover{
      background-color: white!important;
    }

  }
  .p-togglebutton-checked{
    background-color: var(--color-surface-tint) !important;

    &:hover{
      background-color: var(--color-surface-tint) !important;
    }

    .p-togglebutton-content{
      background-color: var(--color-surface-tint) !important;
      // color: #9B9FA9;

    }
  }


}
