<div class="content">

  <section class="dashboard-intro">
    <h1>Study Section</h1>
  <p>Welcome back. Alex. Your Spanish A1 path is currently at 75%. You're 12 cards away from your daily goal.</p>
</section>

<section class="statistics">
  <app-base-card
    iconField="pi-book"
    [icon_bg]="true"
    mainText="42"
    mainTextSize="large"
    secondText="Words Added">
    <div class="card-label">TARGET: 50</div>
  </app-base-card>

  <app-base-card
    iconField="pi-file-import"
    [icon_bg]="true"
    mainText="128"
    mainTextSize="large"
    secondText="Cards Generated">
    <div class="card-label">TOTAL</div>
  </app-base-card>

  <app-base-card
    iconField="pi-bolt"
    [icon_bg]="true"
    mainText="75%"
    mainTextSize="large"
    secondText="">
    <div class="card-label">+5% today</div>
    <div class="progress-bar-bg">
      <div class="progress-bar-fill" style="width: 75%"></div>
    </div>
  </app-base-card>

  <app-base-card
    iconField="pi-history"
    [icon_bg]="true"
    mainText="2h"
    mainTextSize="large"
    secondText="Since Last Session">
  </app-base-card>
</section>

<section class="generation-layout">

  <app-base-container class="word-list-management">
    <div class="">
      <div>

      </div>
      <h3 card-title>Word List Management</h3>
      <h5 card-sub-title>Add new terminology to your active learning stack.</h5>


    </div>

      <div class="word-input">
        <p-iconfield>
          <p-inputicon class="pi pi-language"/>
          <input [(ngModel)]="word" type="text" pInputText placeholder="Enter world or expression" />
        </p-iconfield>

        <button (click)="addWord()" pButton>Add</button>
      </div>


      <div class="total-words">
        <p class="">{{ words.length}} TOTAL</p>
      </div>

      <div class="words-added">
        @for (word of words; track $index) {
          <div class="word-added">
            <i class="pi pi-circle-on"></i>
            <p>{{ word }}</p>

            <button (click)="removeWord($index)" icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" pButton></button>
          </div>

        }


      </div>

  </app-base-container>


  <app-base-container class="generation-config-panel">
    <h3 card-title>Generation Config</h3>
    <div class="select-languages-container">
    <label>INPUT LANGUAGE</label>
    <div class="selectd flex justify-center">
      <p-select [options]="languages" [(ngModel)]="inputLanguage" optionLabel="name" [filter]="true" filterBy="name" [showClear]="false" placeholder="Select a Language">
        <ng-template  #selectedItem let-selectedOption>
          <div class="flex items-center gap-2">
            <div>{{ selectedOption.name }}</div>
          </div>
        </ng-template>
        <ng-template let-language #item>
          <div class="flex items-center gap-2">
            <div class="">{{ language.name }}</div>
          </div>
        </ng-template>
      </p-select>
    </div>

    <label>OUTPUT LANGUAGE</label>
    <div class="selectd flex justify-center">
      <p-select [options]="languages" [(ngModel)]="outputLanguage" optionLabel="name" [filter]="true" filterBy="name" [showClear]="false" placeholder="Select a Language">
        <ng-template  #selectedItem let-selectedOption>
          <div class="flex items-center gap-2">
            <div>{{ selectedOption.name }}</div>
          </div>
        </ng-template>
        <ng-template let-language #item>
          <div class="flex items-center gap-2">
                <div class="">{{ language.name }}</div>
              </div>
            </ng-template>
          </p-select>
        </div>
    </div>

    <p-selectbutton [options]="levels" [(ngModel)]="selectedlevel" aria-labelledby="basic" />

    <div class="optional-settings-container">
      <div class="optional-setting">
        <label>CONTEXT</label>
        <div class="selectd flex justify-center">
          <p-select [options]="contexts" [(ngModel)]="context" [filter]="true" [showClear]="true" placeholder="Select a Context" />
        </div>
      </div>

      <div class="optional-setting">
        <label>TONE</label>
        <div class="selectd flex justify-center">
          <p-select [options]="tones" [(ngModel)]="tone" [showClear]="true" placeholder="Select Tone"/>
        </div>
      </div>
    </div>

    <button icon="pi pi-sparkles" pButton>Generate</button>


  </app-base-container>
</section>


</div>
