<app-base-container>
  <h3 card-title>Generation Config</h3>

  <div class="selectd flex justify-center">
    <p-select styleClass="my"   panelStyleClass="meu-dropdown" [options]="languages" [(ngModel)]="selectedLanguage" optionLabel="name" [filter]="true" filterBy="name" [showClear]="false" placeholder="Select a Language">
      <ng-template  #selectedItem let-selectedOption>
        <div class="flex items-center gap-2">
          <div panelStyleClass="meu-dropdown">{{ selectedOption.name }}</div>
        </div>
      </ng-template>
      <ng-template let-language #item>
            <div class="flex items-center gap-2">
              <div class="">{{ language.name }}</div>
            </div>
        </ng-template>
    </p-select>


  </div>

</app-base-container>



<app-base-container>
  <div class="">
    <div>

    </div>
    <h3 card-title>Word List Management</h3>
    <h5 card-sub-title>Add new terminology to your active learning stack.</h5>


  </div>

    <div class="word-input">
      <p-iconfield>
        <p-inputicon class="pi pi-language"/>
        <input [(ngModel)]="word" type="text" pInputText placeholder="Enter world or expression" />
      </p-iconfield>

      <button (click)="addWord()" pButton>Add</button>
    </div>


    <div class="total-words">
      <p class="">15 TOTAL</p>
    </div>

    <div class="words-added">
      @for (word of words; track $index) {
        <div class="word-added">
          <i class="pi pi-circle-on"></i>
          <p>{{ word }}</p>

          <button (click)="removeWord($index)" icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" pButton></button>
        </div>

      }


    </div>
    <!-- <button icon="pi pi-plus-circle" pButton>Add More</button> -->

</app-base-container>
