<main class="reset-password-page">

  <app-base-container class="reset-password-card">
    
    <header class="reset-password-header">
      <h1>Reset password</h1>
      <p>Enter your email address and we'll<br> send you a link to reset your<br> password</p>
    </header>

    <div class="form-field">
      <label for="email">E-mail</label>
      <input pInputText type="text" placeholder="name@example.com" [(ngModel)]="email" />
    </div>
    
    <button pButton>Send Reset Link</button>

    <div class="back-login">
      <a routerLink="/sign-in">
        <i class="pi pi-arrow-left"></i>
        Back to login
      </a>
      
    </div>

  </app-base-container>

</main> 