:host{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

.reset-password-page{
  
  .reset-password-card{
    .reset-password-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 30px;

      h1 {
        font-size: var(--text-h1-size);
        font-weight: lighter;
      }

      p {
        color: #ACB1BC;
        font-size: 15px;
        text-align: center;
      }
    }

    .form-field{
      display: flex;
      flex-direction: column;
      gap: 7px;
      font-size: 10px;
      color: var(--secondary-font-color);
      font-weight: bold;
      margin: 56px 0px 10px 0px;
    }

    .back-login {
      display: flex;
      justify-content: center;
      margin-top: 30px ;
      a {
        text-decoration: none;
        color: var(--color-primary);
        font-size: small;
        i{
          font-size: small;
        }
      }

    }
  }
}
