<main class="sign-in-page">
  <div class="brand-block">
    <app-logo></app-logo>
  </div>
  <app-base-container class="sign-in-card">  
    <header class="sign-in-header">
      <h1>Welcome back</h1>
      <p>Enter your credentials to access your dashboard</p>
    </header>

    <div class="sign-in-form">
      <div class="form-field">
        <label for="email">E-mail</label>
        <input pInputText type="text" placeholder="name@example.com" [(ngModel)]="email" />
      </div>

      <div class="form-field">
        <div class="form-field-header">
          <label for="password">Password</label>
          <a href="">FORGOT?</a>
        </div>
        <p-password [(ngModel)]="password" [toggleMask]="true" placeholder="password"/>
      </div>

      <button pButton>Sign In</button>
    </div>

    <div class="auth-divider">
      <hr>
      <span>OR CONTINUE WITH</span>
      <hr>
    </div>

    <div class="social-login">
      <button pButton type="button" class="social-login-google" icon="pi pi-google" label="Continue with Google"></button>
    </div>
  </app-base-container>
  

  <div class="register-prompt">
    <span>Don't have an account?</span> <a routerLink="/sign-up">Create one</a>
  </div>
</main>